.header {
    background-color: #6E0120;
}

.right-area {
    color: #DEDF71;
    margin-top: 10px;
    margin-right: 10px;
}

.motto {
    font-size: 18px;
    font-weight: bold;
    font-variant: small-caps;
    font-style: italic;
}

.phone-number {
    font-size: 14px;
    font-variant: small-caps;
    padding-bottom: 6pt;
}


@media only screen and (min-width: 800px) {
    .right-area {
        float: right;
        text-align: right;
    }

    .motto {
        font-size: 24px;
        margin-bottom: 35px;
    }
}
