.page-body {
    margin: 20px;
}

/* visited link */
a:visited {
    color: blue;
}

/* mouse over link */
a:hover {
    color: blue;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: navy;
}
