.loader {
    border: 10px solid white;
    border-radius: 50%;
    border-top: 10px solid rgb(219, 219, 255);
    margin: 160px;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

section#loading p {
    background-color: rgb(226, 242, 255);
}

section#loading p.title {
    width: 600px;
    height: 40px;
    margin-bottom: 20px;
}

section#loading p.image {
    width: 400px;
    height: 400px;
    margin-bottom: 16pt;
    float: left;
}

section#loading p.price {
    width: 75px;
    height: 40px;
}

section#loading p.stock-number {
    width: 175px;
    height: 30px;
    margin-bottom: 60pt;
}

section#loading p.description {
    width: 175px;
    height: 30px;
}

section#loading p.line {
    width: 400px;
    height: 15px;
    margin-bottom: 8pt;
}

section#loading p.half-line {
    width: 375px;
    height: 15px;
    margin-bottom: 400px;
}

.product-image {
    width: 400px;
    height: 400px;
    box-shadow:0px 0px 5px 0px rgb(182, 182, 182);  
    float: left;
}

.product-summary {
    margin-left: 425px;
}

.product-description-margin {
    margin-top: 50px;
}

section#product-info h1 {
    font-size: 30pt;
    font-weight: bold;
}

section#product-info h2 {
    font-size: 20pt;
    font-weight: bold;
}

section#product-info h3 {
    font-size: 15pt;
    font-weight: bold;
}